a,a:visited {
  color: rgb(175,175,175);
  text-decoration: unset;
}

a:hover,a:visited:hover  {
  color: rgb(225,225,225);
  text-decoration: underline;
}

button {
  border: rgb(125,125,125) 1px solid;
  background-color: transparent;
  color: rgb(175,175,175);
  cursor: pointer;
  padding: 5px 10px;
}

button:hover{
  color: rgb(225,225,225);
  border: rgb(225,225,225) 1px solid;
}


.close{
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.close::before, .close::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: rgb(125,125,125);
}
.close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}